@inherits LayoutComponentBase

<PageTitle>Usp</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            <Usp.Pages.FetchData/>
        </article>
    </main>
</div>
