@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            <BlazorApp1.Pages.FetchData/>
        </article>
    </main>
</div>
